*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #000080, #000033);
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin-bottom: 20px;
}

textarea {
    width: 300px;
    height: 100px;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    padding: 10px 20px;
    background-color: #008080; 
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #006666; 
}

#result {
    margin-top: 20px;
}